[submodule "pack/vim-plug/opt/vim-plug/autoload"]
	path = pack/vim-plug/opt/vim-plug/autoload
	url = https://github.com/junegunn/vim-plug
[submodule ".\\vim-plug\\vim-janah"]
	path = .\\vim-plug\\vim-janah
	url = https://github.com/mhinz/vim-janah
